/* CSS Entry Point */
body {
	margin: 0;
	background-color: black;

}



.each-question {
 	display: flex;
 	position: relative;
 	border: 1px solid red;
 	width: 1300px;
	.backgrd-img {
		margin-right: auto;
		margin-left: auto;
	}
	.pick_the_name {
		font-family: "Lucida Sans", sans-serif;
		font-size: 36px;
		color: black;
		position: absolute;
		top: 10%;
		left: 20%;	
	}
	button {
		height: 100px;
		width: 160px;
		justify-content: flex-end;
		border-radius: 7px;
		background-color: #ffffff;
		border: 2px solid black;
		&:hover {
			background-color: #ffff00;
		}
	}
	li	{
		list-style-type: none;
		padding-bottom: 20px;
	}
	li button {
		font-family: "Lucida Sans", sans-serif;
		font-size: 50px;
	}
	.animal-image {
		position: absolute;
		top: 35%;
		left: 30%;
	}
	ul.buttons {
		display: inline-block;
		position: absolute;
		top: 130px;
		right: 150px;

	}
}









