/* CSS Entry Point */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

.stage {
	position: relative;
}

.stage:before {
	content: " ";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	background-image: url('/images/cartoon-hills-hi2.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
}

.img-div {
	width: 100%;
	position: relative;
	.animal-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		// width: 300px;

	}
}



ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 0;
}

li {
	list-style: none;
	padding: 10px 10px;


}

button {
	justify-content: flex-end;
	border-radius: 7px;
	background-color: #ffffff;
	border: 2px solid black;
	&:hover {
		background-color: #ffff00;
	}
}

@media screen and (max-width: 440px) {

	.pick_the_name {
		font-size: 24px;
		text-align: center;
	}

	.scene {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}

	.animal-image {
		width: 200px;

	}

	li {
		list-style: none;
		padding: 10px 20px;
	}

	li button {
		font-size: 35px;
	}

	button {
		height: 50px;
		width: 80px;		
	}
}

@media screen and (min-width: 501px) and (max-width: 900px) {
	.pick_the_name {
		font-size: 34px;
		text-align: center;
	}

	.img-div {
		width: 100%;
		.animal-image {
			width: 250px;
		}
	}

	ul.buttons {
		margin-top: 20px;
		position: relative;
		padding-left: 0;
	}

	li {
		margin-left: auto;
		margin-right: auto;
	}

	li button {
		font-size: 40px;
	}

	button {
		height: 70px;
		width: 112px;		
	}


}

@media screen and (min-width: 901px) {
	.stage {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	.pick_the_name {
		font-size: 34px;
		text-align: center;
	}

	.img-div {
		width: 100%;
		.animal-image {
			width: 250px;
		}
	}

	ul.buttons {
		margin-top: 20px;
		position: relative;
		padding-left: 0;
	}

	li {
		margin-left: auto;
		margin-right: auto;
	}

	li button {
		font-size: 40px;
	}

	button {
		height: 70px;
		width: 112px;		
	}
}

